Repository Deepractice/Logent: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint

chore: keep package name as @deepracticex/logger, reserve logent
  package.json
  packages/logent-placeholder/README.md
  packages/logent-placeholder/index.js
  packages/logent-placeholder/package.json
  packages/logent/package.json
  pnpm-lock.yaml
Due: format, lint

chore: publish logent@0.0.2 placeholder to npm
  packages/logent-placeholder/package.json
Due: format

chore: change license from Apache-2.0 to MIT
  LICENSE
Due: none

chore: update workflows for library publishing
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: format

chore: use GH_PAT to trigger publish workflow
  .github/workflows/release.yml
Due: format

chore: initialize changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: format

chore: add changeset for CI/CD setup
  .changeset/setup-ci-cd-pipeline.md
Due: format

chore: add version workflow and release documentation
  .github/RELEASE_WORKFLOW.md
  .github/workflows/version.yml
Due: format

chore: add version workflow and release documentation (#1)
  .github/RELEASE_WORKFLOW.md
  .github/workflows/version.yml
Due: format

chore: add @vitest/coverage-v8 dependency for CI
  package.json
  pnpm-lock.yaml
Due: format

chore: version packages (#3)
  .changeset/setup-ci-cd-pipeline.md
  packages/logent/CHANGELOG.md
  packages/logent/package.json
Due: format

fix: use timestamp-based release tags to avoid conflicts
  .github/workflows/release.yml
Due: format

feat: allow manual trigger of release workflow
  .github/workflows/release.yml
Due: format

fix: improve test coverage and fix test adapter issues
  package.json
  packages/logent/src/test.ts
  packages/logent/tests/e2e/steps/cross-platform.steps.ts
  packages/logent/tests/e2e/steps/logging.steps.ts
  packages/logent/tests/e2e/steps/test-environment.steps.ts
  packages/logent/tests/e2e/support/hooks.ts
  packages/logent/tests/e2e/support/world.ts
  pnpm-lock.yaml
Due: format, lint

fix: complete test suite - all 37 tests passing
  packages/logent/features/test-environment.feature
  packages/logent/tests/e2e/steps/cross-platform.steps.ts
  packages/logent/tests/e2e/steps/test-environment.steps.ts
Due: format, lint

chore: add changeset for CI/CD completion
  .changeset/complete-ci-cd.md
Due: format

chore: version packages (#4)
  .changeset/complete-ci-cd.md
  packages/logent/CHANGELOG.md
  packages/logent/package.json
Due: format

fix: update @deepracticex/vitest-cucumber to version 1.2.2 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: format

fix: update @deepracticex/vitest-cucumber to version 1.2.4 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: format

chore: upgrade vitest-cucumber to 1.3.0
  package.json
  packages/logent/package.json
  pnpm-lock.yaml
Due: format

Path conditions:
  format: any of: *.{ts,js,cjs,mjs,json,md,yml,yaml}
  lint: any of: *.{ts,js,cjs,mjs}
